
.main {
width: 80%;
margin: auto;
}

.content-my {
  background-color: rgb(195, 195, 237);
  height: 110vh;
}

.top-my {
background-color: #e6acac;
height: 350px;
}

.footer-my {
  background-color: rgb(234, 161, 60);
  height: 350px;
  }
